.mainContainer {
    display: flex;
    width: 56.25vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.logo {
    width: min(300px, 50%);
}

.myButton {
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(51, 51, 200, 0.5);
    color: black;
    text-align: center;
    height: 50px;
    border-radius: 15px;
    border: none;
    width: 220px;
}

.text {
    text-align: center;
    padding: 15px;
}